In [1]:
#importing useful packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

The goal of this assignment is to segment customers of a telecom company in the most adequate way. To do so, we will use the dataset at our disposal. We will first conduct an exploratory analysis of this data.

# Exploratory Data Analysis

In [2]:
file = "customers.csv"
data = pd.read_csv(file) #importing the dataset

In [3]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
n_obs, n_variables = data.shape
print('This dataset contains ' + str(n_obs), 'observations and ' + str(n_variables), 'variables.')

This dataset contains 7043 observations and 21 variables.

In [5]:
data.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [6]:
data.describe(include=np.number) #description of the numerical variables

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [7]:
data.describe(include=np.object) #description of object variables

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
unique,7043,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,6531,2
top,5188-HGMLP,Male,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,20.2,No
freq,1,3555,3641,4933,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,11,5174

The row 'unique' in the table above helps us identify categorical variables, as the number appearing in this row for each column indicates the number of unique occurences for each variable. So, for example when unique = 2, it means that there are only two different occurences for the variable in consideration, i.e., two categories.

It is interesting to notice that the variable 'TotalCharges' is considerer as an object type variable, while we could imagine this is a purely numerical variable. Let us investigate this variable.

In [8]:
print(data.TotalCharges)

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object

In [9]:
data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

It appears as first like there are no missing values in our dataset. But maybe the missing values are not listed as nans, but are just simply empty cells. We will create a function that will help us identify missing values that can possibly be empty cells:

In [10]:
def count_empty_cells(data, column):
    count = 0
    for i in range(len(data)):
        if data[column].iloc[i] == ' ':
            count+=1
    return count

In [11]:
def find_missing_values(data, missing_value_type):
    table=[] #list where we will store the name of the variable and the number of missing values it has
    if missing_value_type == None:
        table = data.isna().sum()
    elif missing_value_type == 'empty cell':
        for i in range(len(data.columns)):
            column = data.columns[i]
            n_empty_cells = count_empty_cells(data, column)
            table.extend((column, n_empty_cells))
    return table

In [12]:
find_missing_values(data, 'empty cell')

['customerID',
 0,
 'gender',
 0,
 'SeniorCitizen',
 0,
 'Partner',
 0,
 'Dependents',
 0,
 'tenure',
 0,
 'PhoneService',
 0,
 'MultipleLines',
 0,
 'InternetService',
 0,
 'OnlineSecurity',
 0,
 'OnlineBackup',
 0,
 'DeviceProtection',
 0,
 'TechSupport',
 0,
 'StreamingTV',
 0,
 'StreamingMovies',
 0,
 'Contract',
 0,
 'PaperlessBilling',
 0,
 'PaymentMethod',
 0,
 'MonthlyCharges',
 0,
 'TotalCharges',
 11,
 'Churn',
 0]

It is now clear that the variable 'TotalCharges' contains missing values, and it is the only variable of the dataset which does.

So the column 'TotalCharges' contains 11 missing values. Since it represents a very low proportion of the total number of observations, we decide to drop them instead of replacing them, which could alterate our future work.

In [13]:
data['TotalCharges'] = data['TotalCharges'].replace(" ", np.nan) #We first replace the empty cell by a 'NaN'
data['TotalCharges'] = data['TotalCharges'].astype('float') #We set it to be as a float variable
data = data[data["TotalCharges"].notnull()]  #We delete the observations (hence the rows) containing missing values

In [14]:
data.shape

(7032, 21)

We are interested in the lifetime value of loyal customers. Thus, we can ignore (for now) those who leave the company (churn). Hence we drop the Churn column.

In [15]:
data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No